*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(60deg, #e66767, #574b90);
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            position: relative;
            display: flex;
            padding: 1rem;
            justify-content: center;
            align-items: center;
            vertical-align: middle;
            font-size: 8rem;
            font-weight: bold;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: #fff;
            letter-spacing: -2px;
            word-spacing: 2px;
            margin: 0px 2rem;
            cursor: pointer;
            filter: blur(10px);
            transition: all .3s;
            &:hover{
                filter: blur(0px);
                span{
                    opacity: 1;
                    filter: blur(0px);
                }
            }
            span{
                position: absolute;
                width: 1rem; height: 1rem;
                transition: all .3s;
                opacity: 0;
                filter: blur(10px);
                &:nth-of-type(1){left: 0px; top: 0px; border-left: 3px solid #fff; border-top: 3px solid #fff;}
                &:nth-of-type(2){right: 0px; top: 0px; border-right: 3px solid #fff; border-top: 3px solid #fff;}
                &:nth-of-type(3){left: 0px; bottom: 0px; border-left: 3px solid #fff; border-bottom: 3px solid #fff;}
                &:nth-of-type(4){right: 0px; bottom: 0px; border-right: 3px solid #fff; border-bottom: 3px solid #fff;}
            }
        }
    }
}