*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: 'Jua', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333;
    overflow: hidden;
    ul{
        li{
            position: relative;
            margin: 40px 0px;
            a{
                display: block;
                color: #fff;
                font-size: 2rem;
                transition: all .5s ease-in-out;
                &::after{
                    content: attr(data-menu);
                    position: absolute;
                    text-transform: uppercase;
                    left: 0px;
                    bottom: 0px;
                    text-align: left;
                    font-size: 1.4rem;
                    color: var(--color);
                    text-shadow: 0px 0px 16px var(--color);
                    transition: all .4s ease-in-out;
                    letter-spacing: 40px;
                    opacity: 0;
                }
                &:hover{
                    transform: scale(1.1) translateY(-10px);
                    &::after{
                        letter-spacing: 0px;
                        opacity: 1;
                        transform: translateY(26px);
                    }
                }
            }
        }
    }
}