*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f5f6fa;
    .Hire{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .HireCard{
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            width: 300px;
            height: 360px;
            background-color: #487eb0;
            white-space: nowrap;
            overflow: hidden;
            transition: all .5s;
            border-radius: 20px;
            box-shadow: 0px 0px 6px #487eb0;
            .font{
                position: relative;
                width: 100%;
                height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                color: white;
                user-select: none;
                h6{
                    font-size: 1.2rem;
                    font-weight: bold;
                    text-transform: uppercase;
                    letter-spacing: -1px;
                    word-spacing: 2px;
                }
                h5{
                    font-weight: 500;
                    word-spacing: 2px;
                }
            }
            .img{
                position: relative;
                display: grid;
                place-items: center;
                width: 200px;
                height: 200px;
                margin: 0 auto;
                border: 4px solid white;
                box-shadow: -4px 4px 6px rgba(51, 51, 51, 0.302);
                overflow: hidden;
                img{
                    width: 130%;
                    height: 100%;
                }
            }
            a{
                position: relative;
                padding: 8px 26px;
                background-color: #fff;
                color: #192a56;
                border-radius: 50px;
                font-weight: bold;
                font-size: .8rem;
                text-transform: uppercase;
                margin-top: 20px;
                box-shadow: -4px 4px 6px rgba(51, 51, 51, 0.302); 
            }
        }
        input{
            display: none;
        }
        label{
            position: absolute;
            left: 50%;
            bottom: 0px;
            color: white;
            width: 50px;
            height: 50px;
            background-color: #487eb0;
            padding: 10px 22px 6px 18px;
            transform: translate(-50%, 98%);
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
            font-size: 1rem;
            transition: all .5s;
            box-shadow: 0px -20px 30px #487eb0;
            cursor: pointer;
            &::before{
                content: '';
                position: absolute;
                left: -36px;
                top: 0px;
                width: 40px;
                height: 40px;
                border-top-right-radius: 40px;
                box-shadow: 11px -11px 0 10px #487eb0;
                z-index: -1;
            }
            &::after{
                content: '';
                position: absolute;
                right: -36px;
                top: 0px;
                width: 40px;
                height: 40px;
                border-top-left-radius: 40px;
                box-shadow: -11px -11px 0 10px #487eb0;
                z-index: -1;
            }
            span{
                display: block;
                transform: rotate(-90deg) ;
                transition: all .5s;
                z-index: 999;
                font-size: 1.4rem;
            }
        }
        input:checked ~ .HireCard{
            height: 70px;
            padding: 10px 0px;
            .font{
                margin-bottom: 20px;
            }
        }input:checked ~ label{
            padding: 10px 16px 4px 18px;
            span{
                transform: rotate(450deg);
                font-size: 1.8rem;
            }
        }
    }
}