$light : #f9f9f9;
$dark : #d9d9d9;
$tea1: #c57e65;
$tea2: #e28462;

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 100vh;
        background-color: #607d8b;

        .cup {
            position: relative;
            width: 280px;
            height: 300px;
            background: linear-gradient(to right, $light, $dark);
            border-bottom-left-radius: 45%;
            border-bottom-right-radius: 45%;

            .top {
                position: absolute;
                top: -30px;
                left: 0px;
                width: 100%;
                height: 60px;
                background: linear-gradient(to right, $light, $dark);
                border-radius: 50%;

                .circle {
                    position: absolute;
                    width: calc(100% - 20px);
                    height: 50px;
                    top: 10px;
                    left: 10px;
                    background: linear-gradient(to left, $light, $dark);
                    border-radius: 50%;
                    overflow: hidden;
                    box-sizing: border-box;

                    .tea {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0px;
                        top: 20px;
                        background: linear-gradient($tea1, $tea2);
                        border-radius: 50%;
                    }
                }
            }

            .grip {
                position: absolute;
                top: 40px;
                right: -70px;
                width: 160px;
                height: 180px;
                border: 25px solid #dcdcdc;
                border-left: 25px solid transparent;
                border-bottom: 25px solid transparent;
                border-radius: 50%;
                transform: rotate(42deg);
            }

            .plate {
                position: absolute;
                left: calc(50% - 250px);
                bottom: -50px;
                width: 500px;
                height: 200px;
                background: linear-gradient(to right, $light, $dark);
                border-radius: 50%;
                box-shadow: 0px 35px 35px #00000020;
                z-index: -1;

                &::before {
                    content: '';
                    position: absolute;
                    left: 10px;
                    top: 10px;
                    width: 480px;
                    height: 180px;
                    background: linear-gradient(to left, $light, $dark);
                    border-radius: 50%;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 30px;
                    left: 30px;
                    bottom: 30px;
                    right: 30px;
                    background: radial-gradient(#00000036 25%, transparent, transparent);
                    border-radius: 50%;
                    filter: blur(12px);
                }

            }

            .soHot {
                position: absolute;
                display: flex;
                top: -32%;
                left: 62%;
                width: 100%;
                min-height: 50px;
                transform: translateX(-50%);
                z-index: 10;

                span {
                    display: block;
                    width: 8px;
                    height: 120px;
                    background-color: white;
                    border-radius: 50%;
                    margin: 0 1px 50px;
                    animation: AniHOT 5s infinite linear;
                    animation-delay: calc(var(--i) * 0.2s);
                    filter: blur(14px);
                    opacity: 0;
                }

                @keyframes AniHOT {
                    0% {
                        transform: scaleX(1) translateY(0px);
                        opacity: 0;
                    }

                    15% {
                        opacity: 1;
                    }

                    50% {
                        transform: scaleX(5) translateY(-140px);
                    }

                    95% {
                        opacity: 0;
                    }

                    100% {
                        transform: scaleX(10) translateY(-280px);
                        opacity: 0;
                    }
                }
            }
        }
    }
}